{extend name="admin/layout" }
{block name="main"}
{load file="/static/css/admin/user/list.css"}

<div style="margin-top: 70px;width: 100%;height: 70px;background: #f5f5f5;border: 1px solid #e4e7ed;padding: 20px">
    <form action="" method="get" class="form-inline" id="login-form">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="课程标题" value="{$name}"/>
        </div>
        <div class="form-group">
            <button type="submit" id="login-btn" class="btn btn-primary btn-block btn-flat">搜索</button>
        </div>
        <div class="form-group">
            <a href="/course/create" class="btn btn-primary btn-block btn-flat">创建课程</a>
        </div>
    </form>
</div>

<table class="table" style="margin-top: 40px">
    <thead>
    <tr>
        <th>ID</th>
        <th>课程名称</th>
        <th>简介</th>
        <th>讲师</th>
        <th>学员数</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name='list' id='course'}
        <tr id="">
            <td width="5%">{$course.id}</td>
            <td width="25%">{$course.name}</td>
            <td width="25%">{$course.description}</td>
            <td width="10%">{$course.teacher}</td>
            <td width="5%">{$course.studentNum}</td>
            <td width="20%">
                <a href="/course/{$course.id}/member" class="btn btn-default btn-sm">学生管理</a>
                <a href="/course/update/{$course.id}" class="btn btn-default btn-sm">编辑</a>
                <button data-url="/course/delete/{$course.id}" class="btn btn-default btn-sm js-delete">删除</button>
            </td>
        </tr>
    {/volist}
    </tbody>
</table>
{$page|raw}
<script src="/static/js/admin/course/list.js"></script>
{/block}