{extend name="admin/layout" /}
{block name="main"}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<form action=""  id="course-create"  method="post" style="margin-left: 30%; margin-right: 40%; margin-top: 70px">
    <div class="form-group">
        <label for="name">课程标题d</label>
        <input type="name" name="name" required="true" id="name" class="form-control" value="{$course.name}" placeholder="课程标题">
    </div>
    <div class="form-group">
        <label for="description">简介</label>
        <textarea rows="3" cols="20" type="description" name="description" id="description" class="form-control" placeholder="简介">{$course.description}</textarea>
    </div>
    <div class="form-group">
        <label for="description">讲师</label>
        <select class="js-teacher form-control" name="teacherId" value="{$course.teacherId}" data-teacher="{$teacher}">

        </select>
    </div>
    <button type="submit" class="btn btn-default">保存</button>
</form>
<script src="/static/js/admin/course/create.js"></script>
{/block}